body{
    margin: 0px;
}
#toppart{
    width: 100%;
    height: 300px;
    background-color: rgb(172, 172, 243);
    
}
#eduction{
    
    border-style: solid;
     border-width: medium;
}
#row1col1{
    height:335px;
    /* margin-left: 20px; */
}
#expid{
    height: 530px;
}
#expid2{
    margin-left: 82px;
}
#edu1{
    margin-left: 78px;
}
#projid{
    color: rgb(43, 37, 90);

}
#projectmainid{
    height: 454px;
    background-color: rgb(176, 176, 231);
}